
#content {
    max-width: 900px;
    line-height: 0;
    /* position: absolute; */
}


body {
    background-color: #333333;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}
img {
    width: 100%;
    float:left;
cursor: pointer;
padding:0;
    }
.imgs {
    height: fit-content!important;
}
.comment {
        height: fit-content!important;
        padding-top: 30px;
        padding-bottom: 30px;
        display: block;
    }
.imgs {
    display: block;
}